name: pkg.pr.new
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - run: npm ci
      - run: npm run build
      - run: >
          npx pkg-pr-new publish
          ./packages/openworkflow
          ./packages/cli
          ./packages/dashboard
